*{
	margin: 0;
}
/* font-family: 'Lato', sans-serif; */
.site-width{
	width: 940px;
	margin: auto;
	position: relative;
}

header{
	background-color:#2d303a;
	border-bottom:5px solid #323746;
	text-align:right;
}
header.logo{
	position:absolute;
	left:0;
	top:0;
}
.logo h1{
	font-size:25px;
	font-weight:700;
	font-family: 'Lato', sans-serif;
	color:#ffffff;
	text-transform:uppercase;
}
.logo span{
	color:#f06c64;
}

.header-nav a{
	font-size:12px;
	font-weight:700;
	font-family:'Lato', sans-serif;
	color:#ffffff;
	text-transform:uppercase;
}
.header-nav a{
	color:#f06c64;
}

.slider {
	height: 600px;

}

.wrapper-slider{
	overflow: hidden;
	background-color: #f06c64;

}
.slide-content{
	height: 600px;

}
.slide-content[data-number='1']{
	
}
.absolute{
	position: absolute;
}
.site-width .arrow{
	position: absolute;
	top: 240px;
}
.site-width .arrow--left{
	left: 0;
}
.site-width .arrow--right{
	right: 0;
}
.site-width .iphone-vertical{
	position: absolute;
	top: 53px;
	left: 72px;
}