*{
	margin: 0;
	box-sizing:border-box;
}
/* font-family: 'Lato', sans-serif; */
.site-width{
	max-width: 940px;
	margin: auto;
	position: relative;
	min-width: 300px;
}

header{
	position:relative;
	height:90px;
	background-color:#2d303a;
	border-bottom:5px solid #323746;
	text-align:right;
}
.logo{
	position:absolute;
	left:0;
	font-size:25px;
	color:#ffffff;
	text-transform:uppercase;
}
.logo span{
	color:#f06c64;
}

.header-nav a{
	font-size:12px;
	color:#ffffff;
	text-transform:uppercase;
	text-decoration:none;
}
.header-nav a{
	color:#f06c64;
}

.slider {
	height: 600px;

}

.wrapper-slider{
	overflow: hidden;
	background-color: #f06c64;

}
.slide-content{
	height: 600px;

}
.slide-content[data-number='1']{
	
}
.absolute{
	position: absolute;
}
.site-width .arrow{
	position: absolute;
	top: 240px;
}
.site-width .arrow--left{
	left: 0;
}
.site-width .arrow--right{
	right: 0;
}
.iphone-vertical{
	box-shadow: 23px 17px 3px #CE5B57;

	border-radius: 23px;
}
.site-width .iphone-vertical{
	position: absolute;
	top: 53px;
	left: 72px;
}
.iphone-horizontal{
	box-shadow: 23px 17px 3px #CE5B57;
	
	border-radius: 23px;
}
.site-width .iphone-horizontal{
	position: absolute;
	top: 175px;
	left: 380px;
}
.services{
	
	padding-top: 60px;
	padding-bottom: 60px;
}
.title-services{
	display: inline-block;
	font-size: 30px;
	
	font-weight: 800;
	color: #666d89;
}
.description{
	display: inline-block;
	font-size: 18px;
	font-weight: 400;
	color: #767e9e;
}
.site-width .description{
	margin-top: 30px;
	margin-bottom: 30px;
}
.site-width .container{
	margin-left: 20px;
	margin-top: 20px;
}
.site-width .container:nth-child(3n){
	margin-left: 0;
}
.container{
	position: relative;
	width: 300px;
	height: 100px;
	display: inline-block;
}
.container--title{
	font-size: 18px;
	color: #666d89;
	font-weight: 800;
}
.container .container--title{
	position: absolute;
	left: 80px;
	top: 0px;
}
.container-description{
	font-size: 11px;
	color: #767e9e;
	font-weight: 500;
	word-spacing: 5px;
	line-height: 19px;
	width: 220px;
}
.container .container-description{
	
	position: absolute;
	top: 30px;
	left: 80px;
}
.container .container-img{
	display: inline-block;
}



footer{
	height: 75px;
	text-align: right;
	background-color: #2d303a;
}
.copyright{
	font-size: 12px;
	font-weight: 400;
	color: #666d89;
}
.copyright span{
	font-size: 6px;
}
footer .copyright{
	position: absolute;
	top: 30px;
}
footer img{
	margin-top: 23px;
	margin-left: 5px;
	cursor: pointer;
}
footer a{
	text-decoration: none;
}
footer a:hover img:first-child{
	display: none;
}
footer a img:last-child{
	display: none;
}
footer a:hover img:last-child{
	display: initial;
}
